
.process-footer {
  margin-bottom: 22px;
  margin-left: 100px
}

.process-body {
  .process-switch {
    /*float: right;*/
  }

  .process-radio {
    .el-radio__inner {
      height: 16px;
      width: 16px;
    }
  }

  .process-col {
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .process-row {
    margin: 15px;
    padding: 15px;
    width: 400px;
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
